<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPadrao">
<head>
<title>Pesquisa de titulos</title>
</head>



<section layout:fragment="conteudo">

	<div layout:insert="MensagemGeral"></div>

	<div class="card">
		<div class="card-header">
			<div class="clearfix">
				<h3 class="aw-titulo-panel">Pesquisa de Titulos</h3>
				<a class="btn btn-success aw-link-panel" href="/titulos/novo">Novo
					titulo</a>
			</div>
		</div>
		<div class="card-body">
			<form method="GET" class="form-horizontal" th:object="${filtro}">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group" name="descricao">
							<input class="form-control" placeholder="Qual titulo você procura?" autofocus="autofocus" th:field="*{descricao}">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-outline-dark">
									<i class="fas fa-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>
			
			<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center">#</th>
						<th class="text-center">Descrição</th>
						<th class="text-center">Data de vencimento</th>
						<th class="text-center">Valor</th>
						<th class="text-center">Status</th>
						<th class="text-center"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="titulo : ${titulos}">
						<td class="text-center" th:text="${titulo.codigo}">1</td>
						<td class="text-center" th:text="${titulo.descricao}"></td>
						<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
						<td class="text-center" th:text="|R$ ${{titulo.valor}}|"></td>
						<td class="text-center" th:attr="data-role=${titulo.codigo}"><span
							class="badge" th:text="${titulo.status.descricao}"
							th:classappend="${titulo.pendente ? 'badge-danger' : 'badge-success'}">Sucess</span>
						</td>
						<td class="text-center"><a class="btn btn-link btn-xs"
							th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}"
							title="Editar" rel="tooltip" data-placement="top"> <span
								class="fas fa-edit"></span>
						</a> <a class="btn btn-link btn-xs"
							th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}"
							data-toggle="modal" data-target="#confirmacaoExclusaoModal"
							th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}"
							title="Excluir" rel="tooltip" data-placement="top"> <span
								class="fa fa-times"></span>
						</a> <a class="btn btn-link btn-xs" th:if="${titulo.pendente}"> <span
								class="far fa-check-circle js-atualizar-status"
								style="color: #007bff;" title="Receber" rel="tooltip"
								data-placement="top" th:attr="data-codigo=${titulo.codigo}"
								th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}"></span>
						</a></td>
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum
							titulo foi encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div layout:insert="DialogoConfirmacaoExclusao"></div>
	</div>
	</div>




</section>

</html>