<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutPadrao}">

<section layout:fragment="conteudo">


<div class="jumbotron mb-0" style="min-height: 58em;">
	<div class="container">
		<div class="jumbotron">
			<h1>Resistro</h1>
			<form action="/novo" th:object="${usuario}" method="POST" enctype="utf8"
				class="form-group">
				<div>
					<label>Nome completo</label> <input th:field="*{nomeCompleto}"
						class="form-control" />
					<p th:each="error: ${#fields.errors('nomeCompleto')}"
						th:text="${error}">Validation error</p>
				</div>
				<div>
					<label>Login</label> <input th:field="*{login}"
						class="form-control" />
					<p th:each="error: ${#fields.errors('login')}" th:text="${error}">Validation
						error</p>
				</div>
				<div>
					<label>Senha</label> <input type="password" th:field="*{senha}"
						class="form-control" />
					<p>
				</div>
				<button type="submit" class="btn btn-success">Cadastrar</button>
			</form>

		  <a href="login">login</a>
		</div>
	</div>
	</div>
</section>
</html>
