
@{
    ViewBag.Title = "Skills";
}

    <div class="container text-center">
        <h1 class="text-center batata">Skills</h1>
        <hr />
        <div class="row batata">
            <div class="col-md-4">
                <div class="card text-center zoom" style="width: 18rem; border: 1px solid black; padding: 4px 7px 4px 4px; background-color: #d6cfcf;">
                    <img class="card-img-top" src="~/Content/Img/htmlIcon.png" alt="Card image cap" width="100px">
                    <div class="card-body">
                        <h5 class="card-title">Html 5</h5>
                        <p class="card-text">Experiência ao utilizar a linguagem de marcação HTML 5. Durante o periodo da faculdade e projetos próprios.</p>
                        <a href="https://github.com/gukiub/portifolio/tree/master/Desenvolvimento%20Web" target="_blank" class="btn btn-primary">Repositório</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center zoom" style="width: 18rem;border: 1px solid black;padding: 4px 7px 4px 4px;background-color: #d6cfcf;">
                    <img class="card-img-top" src="~/Content/Img/logo-java.png" alt="Card image cap" width="100px">
                    <div class="card-body">
                        <h5 class="card-title">Java</h5>
                        <p class="card-text">Desenvolvi alguns projetos no quarto semestre da faculdade e assim descobri minha linguagem predileta.</p>
                        <a href="https://github.com/gukiub/portifolio/tree/master/java" target="_blank" class="btn btn-primary">Repositório</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center zoom" style="width: 18rem; border: 1px solid black; padding: 4px 7px 4px 4px; background-color: #d6cfcf;">
                    <img class="card-img-top" src="~/Content/Img/python.png" alt="Card image cap" width="100px">
                    <div class="card-body">
                        <h5 class="card-title">Python</h5>
                        <p class="card-text">Minha segunda linguagem de programação favorita possuo poucos projetos. Tambem já usei Django para um pequeno projeto.</p>
                        <a href="https://github.com/gukiub/portifolio/tree/master/scripts%20python" target="_blank" class="btn btn-primary">Repositório</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 batata">
                <div class="card text-center zoom" style="width: 18rem; border: 1px solid black; padding: 4px 7px 4px 4px; background-color: #d6cfcf;">
                    <img class="card-img-top" src="~/Content/Img/android.png" alt="Card image cap" width="100px">
                    <div class="card-body">
                        <h5 class="card-title">Android</h5>
                        <p class="card-text">Nesta linguagem produzi um app de dietas, foi uma ótima experiência e pretendo voltar a mexer futuramente.</p>
                        <a href="https://github.com/rafajgomes01/AndroidApp" target="_blank" class="btn btn-primary">Repositório</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 batata">
                <div class="card text-center zoom" style="width: 18rem; border: 1px solid black; padding: 4px 7px 4px 4px; background-color: #d6cfcf;">
                    <img class="card-img-top" src="~/Content/Img/mysql.png" alt="Card image cap" width="100px">
                    <div class="card-body">
                        <h5 class="card-title">Mysql</h5>
                        <p class="card-text">Em bancos de dados aprendi tanto a syntax quando a modelar o banco na faculdade neste link possuo alguns exemplos do modelo relacional.</p>
                        <a href="https://github.com/gukiub/portifolio/tree/master/SQL" target="_blank" class="btn btn-primary">Repositório</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 batata">
                <div class="card text-center zoom" style="width: 18rem; border: 1px solid black; padding: 4px 7px 4px 4px; background-color: #d6cfcf;">
                    <img class="card-img-top" src="~/Content/Img/cSharp.png" alt="Card image cap" width="100px">
                    <div class="card-body">
                        <h5 class="card-title">C#</h5>
                        <p class="card-text">Tive contato com está linguagem no segundo semestre da faculdade, sem ter tido lógica de programação porém possuo alguns projetos.</p>
                        <a href="https://github.com/gukiub/portifolio/tree/master/C%23" target="_blank" class="btn btn-primary">Repositório</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 batata">
                <div class="card text-center zoom" style="width: 18rem; border: 1px solid black; padding: 4px 7px 4px 4px; background-color: #d6cfcf;">
                    <img class="card-img-top" src="~/Content/Img/css3.png" alt="Card image cap" width="100px">
                    <div class="card-body">
                        <h5 class="card-title">Css 3</h5>
                        <p class="card-text">Juntamente do HTML 5 e aprendi css3 e um pouco de JavaScript e JQuery, possuo alguns projetos utilizando.</p>
                        <a href="https://github.com/gukiub/portifolio/tree/master/Desenvolvimento%20Web" target="_blank" class="btn btn-primary">Repositório</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 batata">
                <div class="card text-center zoom" style="width: 18rem; border: 1px solid black; padding: 4px 7px 4px 4px; background-color: #d6cfcf;">
                    <img class="card-img-top" src="~/Content/Img/php.png" alt="Card image cap" width="100px">
                    <div class="card-body">
                        <h5 class="card-title">PHP</h5>
                        <p class="card-text">Possuo um projeto freelancer que fiz em parceria de um amigo porém acabou sendo encerrado.</p>
                        <a href="https://github.com/gukiub/ovni" target="_blank" class="btn btn-primary">Repositório</a>
                    </div>
                </div>
            </div>
        </div>
    </div>