@model Mercado.DTO.PromocaoDTO

@{
    Layout = "_LayoutAdmin";
}
<h2>Nova Promoção</h2>
<hr>

<form class="form-horizontal" asp-controller="Promocoes" asp-action="Atualizar" method="POST">
    <input type="hidden" asp-for="Id">
    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome da Promoção"><br>
    <label asp-for="ProdutoID">Produto</label>
    <select class="form-control" asp-for="ProdutoID" asp-items='@(new SelectList(ViewBag.Produtos, "Id", "Nome"))'></select><br>
    <label asp-for="Porcentagem">Porcentagem</label>
    <input type="number" min="0" max="100" asp-for="Porcentagem" placeholder="10%" class="form-control"><br>
    <button class="btn btn-success">Atualizar</button><br>
    <p></p><span asp-validation-for="Nome" class="text-danger mt-4"></span><br>
</form>