@charset "utf-8";

/* Tela desk*/
@media ( min-width : 768px) {
	.card {
		margin: 20px 15px 15px 15px;
	}
	.alert {
		margin: 15px 15px 15px 15px;
	}
}

.alert-dismissible .close {
	top: -3px;
}

.aw-link-panel {
	float: right;
}

.aw-titulo-panel {
	float: left;
}