
@model CasaDeShows.Models.CasasDeShow

<div class="container">

<h2>Cadastro de Casas de Show</h2>

<form class="form-horizontal" asp-controller="NovaCasa" asp-action="Salvar" method="POST">
    <input type="hidden" asp-for="Id" value="0">
    <input type="text" class="form-control" asp-for="Nome" placeholder="nome">
    <input type="number" class="form-control" asp-for="Capacidade" placeholder="Capacidade">
    <input type="number" class="form-control" asp-for="IngressosDisp" placeholder="Ingressos Disponiveis">
    <input type="text" class="form-control" asp-for="Local" placeholder="Local">
    <button class="btn btn-success">Cadastrar</button>
</form>

</div>

